mockParking-client/src/main/java/agh/soa/parking.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.agh/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soa.agh/" name="ParkingServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://soa.agh/" schemaLocation="http://localhost:9999/parking?xsd=1"/>
</xsd:schema>
</types>
<message name="isEmpty">
<part name="parkingPlace" type="tns:parkingPlace"/>
</message>
<message name="isEmptyResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="freePlace">
<part name="parkingPlace" type="tns:parkingPlace"/>
</message>
<message name="freePlaceResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="takePlace">
<part name="parkingPlace" type="tns:parkingPlace"/>
</message>
<message name="takePlaceResponse">
<part name="return" type="xsd:boolean"/>
</message>
<portType name="IParkingService">
<operation name="isEmpty">
<input wsam:Action="http://soa.agh/IParkingService/isEmptyRequest" message="tns:isEmpty"/>
<output wsam:Action="http://soa.agh/IParkingService/isEmptyResponse" message="tns:isEmptyResponse"/>
</operation>
<operation name="freePlace">
<input wsam:Action="http://soa.agh/IParkingService/freePlaceRequest" message="tns:freePlace"/>
<output wsam:Action="http://soa.agh/IParkingService/freePlaceResponse" message="tns:freePlaceResponse"/>
</operation>
<operation name="takePlace">
<input wsam:Action="http://soa.agh/IParkingService/takePlaceRequest" message="tns:takePlace"/>
<output wsam:Action="http://soa.agh/IParkingService/takePlaceResponse" message="tns:takePlaceResponse"/>
</operation>
</portType>
<binding name="ParkingServiceImplPortBinding" type="tns:IParkingService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="isEmpty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://soa.agh/"/>
</input>
<output>
<soap:body use="literal" namespace="http://soa.agh/"/>
</output>
</operation>
<operation name="freePlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://soa.agh/"/>
</input>
<output>
<soap:body use="literal" namespace="http://soa.agh/"/>
</output>
</operation>
<operation name="takePlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://soa.agh/"/>
</input>
<output>
<soap:body use="literal" namespace="http://soa.agh/"/>
</output>
</operation>
</binding>
<service name="ParkingServiceImplService">
<port name="ParkingServiceImplPort" binding="tns:ParkingServiceImplPortBinding">
<soap:address location="http://localhost:9999/parking"/>
</port>
</service>
</definitions>